<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Floating Label" labelPlacement="Floating" placeholder="Nome:" [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Floating Label" labelPlacement="Floating" placeholder="Email:" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Floating Label" labelPlacement="Floating" placeholder="Telefone:" [(ngModel)]="telefone"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="abrirTela()">
    Cadastrar
  </ion-button>
</ion-content>
